body {
    font-family: Arial, sans-serif;
    background-image: url(https://www.chromethemer.com/wallpapers/chromebook-wallpapers/images/960/pokemon-chromebook-wallpaper.jpg);
    margin: 0;
    padding: 20px;
  }
  
  .container {
    background-color: #FFFF00;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  .pokemon-form {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .pokemon-form select,
  .pokemon-form button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    background-color: black;
    color: white;
    border-radius: 8px;
  }
  
  .pokemon-info {
    text-align: center;
  }
  
  .pokemon-info h2 {
    text-transform: capitalize;
  }
  
  .pokemon-info img {
    max-width: 150px;
    display: block;
    margin: 0 auto 20px;
  }
  
  .pokemon-info p {
    font-size: 18px;
    margin: 10px 0;
  }
  
